@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
}

body,
html {
    font-family: Plus Jakarta Sans, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(255, 255, 255) 0%, rgba(255, 255, 255) 35%, rgba(218, 234, 241) 100%);
     
}